<!DOCTYPE html>
<html>
    <h1>Assignments:</h1>
	<ul>
	<li>hw1: about binary numbers, true and false, strings, lists</li>
	<li>hw2: about selection sort, search sort, time complexity, simulations of gravity and machine learning part 1</li>
	<li>hw3: about pseudocode, percolation and machine learning part 2</li>
	<li>hw4: about oop coding style</li>
	<li>hw5: about machine learning nearest neighbors and svm</li>
	<li>midterm: about ppm image manipulator</li>
	<li>final: about flask and web</li>
	<li>I like the midterm best as it is in fact a very powerful tool. I can use it to "photoshop" my photos.</li>
	</ul>
</html>

