<!DOCTYPE html>
<html>
    <h1>About Me:</h1>
	<ul>
	<li>Jessy Xinyi Han</li>
	<img src="{{url_for('static', filename='IMG_4042.JPG')}}" alt="me" width="300" height="400"/>
	<li>SEAS senior</li>
	<li>Computer Science major, with minors in Applied Math and Economics</li>
	<li><a href="assignments.html">Assignments page</a></li>
	<li><a href="classes.html">Classes page</a></li>
	<li><a href="https://www.youtube.com/">Link to where I spend a lot of my leisure time</a></li>
	</ul>
</html>

